---
# Infrastructure: ARC runners for {{ app_name }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-arc-runners-{{ app_name }}
  namespace: default
  annotations:
    argocd.argoproj.io/sync-wave: "5"
  finalizers:
    - resources-finalizer.argocd.argoproj.io/background
spec:
  project: infra
  sources:
    - repoURL: ghcr.io/actions/actions-runner-controller-charts
      chart: gha-runner-scale-set
      targetRevision: 0.13.0
      helm:
        valueFiles:
          - $values/infra/arc-runners-{{ app_name }}/values.yaml
    - repoURL: https://github.com/amerenda/k3s-dean-gitops.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: arc-runners
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - ServerSideApply=true
      - IgnoreExtraneous=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  ignoreDifferences:
  - group: "actions.github.com"
    kind: AutoscalingRunnerSet
    jsonPointers:
    - /status/pendingEphemeralRunners
    - /status/currentRunners
