{%- for secret_name, entries in grouped_secrets.items() %}
{%- if not loop.first %}
---
{% endif -%}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: bitwarden-secretstore
    kind: ClusterSecretStore
  target:
    name: {{ secret_name }}
    creationPolicy: Owner
  data:
{%- for entry in entries %}
    - secretKey: {{ entry.k8s_key }}
      remoteRef:
        key: {{ entry.bws_name }}
        property: password
{%- endfor %}
{%- endfor %}
