apiVersion: v1
kind: Service
metadata:
  name: {{ service_name }}
  namespace: {{ namespace }}
spec:
  selector:
    app: {{ selector }}
  ports:
    - name: http
      port: {{ port }}
      targetPort: {{ port }}
